<!DOCTYPE html>
 <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="~/Content/jquery.mobile-1.3.1.min.css" rel="stylesheet" />
        <link href="~/Content/jquery.pnotify.default.css" rel="stylesheet" />
        <title>Order a drink!</title>
        <meta name="description" content="">
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' /> 
        <link href="~/Content/primusfeesten.css" rel="stylesheet" />
    </head>
<body>

     

@Html.Partial("CreateOrder");
@Html.Partial("Overview");


<script src="../bundles/jquery"></script>
<script src="../bundles/jquerycolor"></script>
<script src="~/Scripts/jquery.mobile-1.3.1.min.js"></script>
<script src="../bundles/knockout"></script>
<script src="../Scripts/jquery.signalR-1.1.2.js"></script>
<script src="../signalr/hubs"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/jquery.pnotify.min.js"></script>

<script src="~/Scripts/primusfeesten.js"></script>

    </body>
</html>


